<div id='{{ widget.name }}_json_editor'></div>

<textarea hidden readonly name="{{ widget.name }}" {% include 'django/forms/widgets/attrs.html' %}>
  {% if widget.value %}{{ widget.value }}{% endif %}
</textarea>

<script type="text/javascript">
  var editor = new JSONEditor(document.getElementById('{{ widget.name }}_json_editor'), {
    'onChangeText': function (jsonString) {
      var textarea = document.getElementById('id_{{ widget.name }}');
      textarea.value = jsonString;
    }
  });

  editor.set(JSON.parse(document.getElementById('id_{{ widget.name }}').innerText));
  editor.expandAll();
</script>
